html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

#navbar a {
    display: block;
    width: 300px;
    padding: 10px;
    margin-top: 0;
    text-decoration: none;
    color: black;
    border-right: 4px solid black;
    padding-left: 20px;
    border-bottom: 2px solid black;
}

#navbar a:hover {
    background-color: black;
    color: white;
}

#navbar header {
    display: block;
    border-right: 4px solid black;
    padding: 15px 10px;
    width: 310px;
    background-color: red;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid black;
    font-size: 20px;
}

#navbar {
    position: fixed;
    height: 100%;
    background-color: red;
}

/* Start of Custom Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* End of Custom Scroll Bar */

main {
    display: block;
}

#main-doc {
    position: absolute;
    margin-left: 330px;
    padding: 20px;
}

main section header {
    font-weight: bold;
    font-size: 25px;
}

/* Start of Sub Nav */

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: blue;
    width: 100%;
    z-index: 1;
}

.subnav-content-2 {
    display: none;
    position: absolute;
    left: 0;
    background-color: yellow;
    width: 100%;
    z-index: 1;
}

.subnav-content-3 {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(0, 255, 0);
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
}

.subnav-content-2 a {
    float: left;
    color: black;
    text-decoration: none;
}

.subnav-content-3 a {
    float: left;
    color: black;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: black;
    color: white;
}

.subnav-content-2 a:hover {
    background-color: black;
    color: white;
}

.subnav-content-3 a:hover {
    background-color: black;
    color: white;
}

.subnav:hover .subnav-content {
    display: block;
} 

.subnav-2:hover .subnav-content-2 {
    display: block;
}

.subnav-3:hover .subnav-content-3 {
    display: block;
}

/* End of Sub Nav */

.scroll-bar {
    overflow-y: scroll;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: green;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
    #navbar {
        position: fixed;
        display: block;
        width: 100%;
        max-width: 700px;
        height: 300px;
        z-index: 1;
    }
    #navbar header {
        display: block;
        width: 100%;
        max-width: 650px;
        background-color: red;
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
        border-right: none;
        border-bottom: 2px solid black;
        font-size: 20px;
    }
    #navbar a {
        display: block;
        width: 100%;
        max-width: 640px;
        margin-top: 0;
        text-decoration: none;
        color: black;
        border-right: none;
        border-bottom: 2px solid black;
    }
    #main-doc {
        position: absolute;
        margin-top: 260px;
        margin-left: 0;
        max-width: 600px;
    }
}

li {
    margin: 15px 0;
}