*,
::before,
::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #1978d1;
}

img {
    width: 250px;
    height: 250px;
    border: 5px solid #1978d1;
    border-radius: 50%;
    margin-top: 15px;
}

label {
    display: block;
    margin: 0.5rem 0;
} 

.nav {
    list-style-type: none;
    margin: -8px;
    margin-bottom: 2px;
    padding: 0;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    background-color: #145da0;
  }

.personal-information {
    margin-left: 15px;
}

.roll_over {
    height: 45px;
    width: 45px;
    margin-top: 15px;
    display: inline-block;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.roll_over:hover {
    background-position: 0px -5px;
}

.facebook {
    background-image:url('https://img.icons8.com/color/48/1A1A1A/facebook.png');
}

.instagram {
    background-image:url('https://img.icons8.com/color/48/000000/instagram-new--v1.png');
}

.contact-form {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.project-container a {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 75px 25px 75px 25px;
    background-color: #3792E6;
    color: white;
    text-decoration: none;
    padding-top: 20px;
}

.project-container img {
    margin: 5px;
    border: none;
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    height: 260px;
    border-radius: 75px 25px 75px 25px;
    margin: 10px auto;
}

.project-container a:hover {
    box-shadow: 5px 10px 20px #3792E6;
}

.project-container::after {
    content: "";
    width: 350px;
}

.work-in-progress-text p {
    font-size: 2rem;
}

.work-in-progress-text {
    font-size: 3rem;
    margin-top: 31rem;
}