* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    min-width: 800px;
    background-color: #191919;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo{
    width: 250px;
    margin-left: 8%;
}

nav{
    display: flex;
    width: 100%;
    padding: 20px 0;
    z-index: 2;
    position: sticky;
    top: 0;
    justify-content: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: none;
    font-size: 25px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}

nav ul li a:hover{
    color: #5b5b5b;
}

nav ul li a.active::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
    width: 50%;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.green {
    color: #04ab6c;
}

span {
    color: #04ab6c;
}

#see-more{
    background: #191919;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 10px 0 10px 0;
    border-radius: 15px;
}

.image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.image img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}

.image:hover .boy{
    left: 45%;
}

.bottom-hero-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.bottom-hero-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 74px;
    z-index: 1;
}

.bottom-hero-shape .shape-fill {
    fill: #191919;
    z-index: 1;
}

#animated-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black; 
    margin-top: -85px; 
}

/* Start of Social Media Buttons */

.social a {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 25px;
    margin-bottom: 35px;
}

.social a:hover {
    transform: scale(1.1);
    background: #04ab6c;
    transition: 0.4s;
}

/* End of Social Media Buttons */

.top-hero-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.top-hero-shape svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 221px;
}

.top-hero-shape .shape-fill {
    fill: #191919;
}

#seminar-content {
    display: flex;
    flex-direction: row;
    object-fit: cover;
    width: 100%;
    max-width: 600px;
    height: 600px;
    gap: 8px;
    border-radius: 15px;
}

#oates-award-1 {
    width: 100%;
    max-width: 1000px;
    height: 700px;
    margin-left: 24%;
    margin-top: 25px;
}

.smooth-corners {
    border-radius: 15px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

.section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1100px;
    margin-top: 2rem;
}

/* Start of Card for Education Background */

.card {
    --bg: #212121;
    --hover-bg: #04ab6c;
    --hover-text: white;
    max-width: 23ch;
    text-align: center;
    background: var(--bg);
    padding: 1.5em;
    padding-block: 1.8em;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s cubic-bezier(.6,.4,0,1),-webkit-transform .15s ease;
    transition: .3s cubic-bezier(.6,.4,0,1),-webkit-transform .15s ease;
    transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
    transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease,-webkit-transform .15s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
}
  
.card__body {
    color: white;
    line-height: 1.5em;
    font-size: 1.25rem;
    margin: 0 1rem;
}
  
.card > :not(span) {
    -webkit-transition: .3s cubic-bezier(.6,.4,0,1);
    transition: .3s cubic-bezier(.6,.4,0,1);
}
  
.card > strong {
    display: block;
    font-size: 1.5rem;
    color: white;
}
  
.card span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    -webkit-transition: all .3s cubic-bezier(.6,.4,0,1);
    transition: all .3s cubic-bezier(.6,.4,0,1);
}

.card a {
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
}
  
.card:hover span {
    top: 0;
    font-size: 1.2em;
}
  
.card:hover {
    background: var(--hover-bg);
}

.card:hover>div,.card:hover>strong {
    opacity: 0;
}

/* End of Card for Education Background */

.school-logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

/* Start of Card for Technical Skills */

.technical-skills-card {
    width: 190px;
    height: 190px;
    background: #212121;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.technical-skills-card h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
}

.technical-skills-card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 183, 255)), to(rgb(255, 48, 255)));
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    -webkit-animation: rotBGimg 3s linear infinite;
            animation: rotBGimg 3s linear infinite;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

@-webkit-keyframes rotBGimg {
from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}

to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}

@keyframes rotBGimg {
from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}

to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}

.technical-skills-card::after {
    content: '';
    position: absolute;
    background: #212121;
    inset: 5px;
    border-radius: 15px;
}  

.card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
} 

/* Start of Card for Technical Skills */

.technical-skill-logo {
    width: 75px;
    height: 75px;
    z-index: 1;
}

#css-logo {
    height: 100px;
}

.personal-information-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 80px;
}

.personal-information-container img {
    margin-left: 21rem;
    margin-top: 8rem;
}

.personal-information-container p {
    color: white;
    font-size: 2.5rem;
    width: 75rem;
    margin-left: 30rem;
    margin-top: 5rem;
    text-align: justify;
    background-color: #212121;
    padding: 2.5rem;
    border-radius: 2.5rem;
}

.personal-information-container h2 {
    color: #04ab6c;
    font-size: 3rem;
    margin-left: 60rem;
    margin-top: 3rem;
}

/* Start of custom scrollbar */

/* width */
::-webkit-scrollbar {
    width: 15px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #212121;
}

/* End of customer scrollbar */

#footer {
    color: white;
    background-color: #212121;
    width: 100%;
    padding: 25px 0;
}

#footer p {
    margin-left: 25px;
    color: white;
    font-size: 1.5rem;
}

#footer a.right {
    float: right;
    margin-right: 25px;
    margin-top: -17px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#footer a.right:hover {
    color: #5b5b5b;
}

.dark-background {
    background-color: #121212;
    position: relative;
    padding: 25px;
    margin-top: 150px;
    height: 480px;
}

#technical-skills {
    margin-top: -5px;
}

#seminars {
    background-color: #121212;
    padding: 5px 0;
    margin-top: -50px;
    margin: 0 auto;
}

#seminars-content {
    margin-left: 28%;
    width: 50%;
    padding: 10px;
}

#seminars img {
    width: 400px;
    height: 400px;
}

#seminars-heading {
    margin-top: 25px;
    margin: auto;
}

#education-background {
    margin-top: 55px;
}

/* Start of button */

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.35rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

button.learn-more .button-text {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
        -ms-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #04ab6c;
}

/* End of button */

.hero-title {
    display: block;
    color: white;
    text-align: center;
    margin-top: 33rem;
    margin-left: 34%; 
    margin-right: 32%;
    font-size: 2.5rem;
    position: absolute;
}

.hero-subtitle {
    margin-top: 1rem;
    text-align: center;
}

.career-label {
    color: #04ab6c;
    margin-top: 1rem;
}

/* Start of Scroll Down Animation */

.scroll-down {
    display: flex;
    justify-content: center;
}

.scroll-down a {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }

.scroll-down a:hover {
    opacity: .5;
}

.scroll-down-icon a {
    padding-top: 60px;
}

.scroll-down-icon a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}
  
.scroll-down-icon a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

/* End of Scroll Down Animation */