body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    margin: auto;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    padding: 15px;
}

th {
    text-align: center;
}

td {
    text-align: left;
}