body {
    text-align: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

img {
    border-bottom: 2px dotted black;
    max-width: 500px;
}

.header {
    background-color: #03045e;
    color: white;
    padding: 10px;
    margin: 20px;
    min-width: 200px;
    overflow: hidden;
}

.frame {
    border: 15px solid #03045e;
    max-width: 1000px;
    margin: auto;
}

.body {
    background-color: #e5e5e5;
    padding: 10px;
    margin: 20px;
    overflow: hidden;
}

.bold-text {
    font-weight: 900;
    font-size: 35px;
}

.mini-bold {
    font-weight: 600;
}