{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: maroon;
}
.box 
{
    position: relative;
    width: 380px;
    height: 420px;
    background: maroon;
    border-radius: 8px;
    overflow: hidden;
}
.box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#F0e130);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
}
.box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#F0e130);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}
@keyframes animate
{
 0%
 {
    transform: rotate(0deg);
 }   
 100%
 {
    transform: rotate(360deg);
 }
}
.form
{
    position: absolute;
    border-radius: 8px;
    inset: 2px;
    background: rgb(86, 7, 7);
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.form h2
{
    color: rgb(185, 163, 22);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputbox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputbox input
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputbox span
{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size:  1em;
    color: white;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.05s;
    z-index: 10;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    color: rgb(185, 163, 22);
    transform: translateX(-10px) translateY(-85px);
    font-size: 0.75em;
}
.inputbox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}
.inputbox input:valid ~ i,
.inputbox input:focus ~ i
{
    height: 44px;
}

.links
{
    display: flex;
    justify-content: space-between;
}
.links a
{
    margin: 10px 0;
    font-size: 0.75em;
    text-decoration: none;
    color: rgb(185, 163, 22);
}
.links a:hover,
.links a:nth-child(2)
{
    color: rgb(185, 163, 22);
}
input[type="submit"]
{
    border: none;
    outline: none;
    padding:  11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
}