body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

nav.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #921000;
    position: -webkit-sticky; /* For meh Safari bois */
    position: sticky;
    top: 0;
}

nav.topnav a {
    float: left;
    position: -webkit-sticky; /* For meh Safari bois */
    position: sticky;
    top: 0;
}

nav.topnav a {
    display: block;
    color: white;
    text-align: white;
    padding: 9px 7px;
    text-decoration: none;
    font-size: 12px;
}

nav.topnav a:hover:not(.active) {
    background-color: rgb(182, 23, 3);
}

nav.topnav a.right {
    float: right;
}

@media screen and (max-width: 600px) {
    nav.topnav a.right, 
    nav.topnav a  {
        float: none;
        text-align: center;
    }
}

.vl-left {
    border-left: 1px solid white;
    height: 17px;
    margin: 8px 5px;
    float: left;
}

.vl-right {
    border-left: 1px solid white;
    height: 17px;
    margin: 8px 5px;
    float: right;
}

.facebook {
    width: 125px;
    height: 125px;
}

.instagram {
    width: 55px;
    height: 55px;
}

.i-right {
    float: right;
    padding: 15px;
    color: white;
}